.container {
  height: 100vh; }

.product {
  display: flex;
  height: 100%; }
  .product__photo--center {
    background: #f2e5de;
    flex-basis: 380px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .product__content {
    flex: 1;
    padding: 0px 30px; }
  .product__title {
    font-family: "Pragati Narrow", sans-serif;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase; }
  .product__rating {
    display: flex; }
  .product__info {
    margin-bottom: 20px; }
  .product__info--row {
    border-bottom: 1px solid #ebebeb; }
  .product__info-label {
    display: inline-block;
    padding: 8px 0;
    width: 180px; }
  .product__desc-title {
    margin-bottom: 15px; }

.rating {
  color: gray; }
  .rating__stars {
    display: flex;
    margin-right: 15px; }
  .rating__star--filled {
    color: yellow; }

.price__current {
  margin-bottom: 10px;
  font-size: 45px;
  color: #479fad; }

.price__old {
  display: inline-block;
  margin-right: 35px;
  color: #252525;
  text-decoration: line-through; }

.price__actions {
  display: flex;
  margin-bottom: 20px; }

.price__save {
  margin-right: 0.8rem;
  flex-shrink: 0; }

.btn {
  display: inline-block;
  padding: 10px 40px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px; }
  .btn--primary {
    background-color: #55a32a;
    transform: scale(1); }
    .btn--primary:hover {
      transform: scale(1.05); }
  .btn--secondary {
    background-color: #2d91a1;
    transform: scale(1); }
    .btn--secondary:hover {
      transform: scale(1.05); }

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .socials__item:not(:last-child) {
    margin-right: 5px; }
  .socials__link {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    border-radius: 50%; }
  .socials__link--fb {
    background-color: #305891; }
  .socials__link--tw {
    background-color: #2ca8d2; }
  .socials__link--g {
    background-color: #c72e0b; }

.title-small {
  margin: 0;
  font-size: 1rem;
  color: #211f1f; }
